.puzzles {
  width: 100%;
  font-family: "Avenir Next", "Avenir", "sans serif";
  display: flex;
  flex-direction: column;
}

.puzzles--nav {
  padding: 20px 40px 20px 40px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-color: #6AA9F4;
}

.puzzles--nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.puzzles--nav--left {
  display: flex;
  align-items: center;
  flex-basis: 400px;
  justify-content: space-between;
}

.puzzles--nav--title {
  padding-right: 40px;
}

.puzzles--nav--title a {
  font-weight: bold;
  font-size: 22px;
}

.puzzles--nav--play {
  padding: 0px 15px 0px 15px;
}

.puzzles--nav--right {
  padding: 0px 15px 0px 15px;
  flex-basis: 140px;
  flex-shrink: 0;
}

.puzzles--toolbar {
  padding: 20px 40px 20px 40px;
  border-bottom: 1px solid #9B9B9B;
  display: flex;
  justify-content: space-between;
}

.puzzles--toolbar--quick-play {
  flex-shrink: 0;
  padding-right: 50px;
}

.puzzles--toolbar--quick-play button {
  padding: 10px 30px 10px 30px;
  background-color: #6AA9F4;
  font-size: 16px;
  color: white;
  border: none;
  cursor: pointer;
}

.puzzles--toolbar--sort-by {
  flex-basis: 250px;
  flex-shrink: 0;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

.puzzles--toolbar--sort-by .dropdown--main {
  padding: 10px;
  font-size: 16px;
  background-color: white;
  box-shadow: 0px 0px 4px black;
  border-radius: 3px;
  border: none;
}

.puzzles--toolbar--sort-by .dropdown--options {
  border-radius: 3px;
  border: 1px solid #666;
}
.puzzles--toolbar--sort-by .dropdown--options--option {
  padding: 10px;
  font-size: 16px;
  background-color: white;
  border-bottom: 1px solid #666;
  box-sizing: border-box;

}

.puzzles--toolbar--search {
  position: relative;
  flex: 1;
  flex-shrink: 1;
  flex-basis: 10px;
  display: flex;
}

.puzzles--toolbar--search span {
  position: absolute;
  top: 10px;
  left: 7px;
  font-size: 15px;
  color: #666;
}

.puzzles--toolbar--search input {
  flex: 1;
  padding: 10px 30px 10px 30px;
  font-size: 16px;
  background-color: white;
  box-shadow: 0px 0px 4px black;
  border-radius: 3px;
  border: none;
}

.puzzles--main {
  flex: 1;
  display: flex;
  align-items: stretch;
}

.puzzles--main--left {
  border-right: 1px solid #9B9B9B;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.puzzles--main--left--header {
  font-weight: 500;
  padding: 10px 2px 10px 2px;
}

.puzzles--main--left--option {
  padding: 2px 0px 2px 0px;
}

.puzzles--main--left--option input {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.puzzles--main--left--option label {
  font-size: 15px;
}

.puzzles--main--left--slider {
  display: flex;
  padding: 20px 0px 20px 0px;
}

.puzzles--main--left--slider input[type=range] {
  -webkit-appearance: none;
}

.puzzles--main--left--slider input[type=range]:focus {
  outline: none;
}

.puzzles--main--left--slider input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #888;
  height: 26px;
  width: 26px;
  margin-top: -13px;
  border-radius: 13px;
  background: #ffffff;
  cursor: pointer;
}

.puzzles--main--left--slider input[type=range]::-webkit-slider-runnable-track {
  width: 260px;
  height: 2px;
  background: #888;
  border: none;
  border-radius: 3px;
}

.puzzles--main--left--slider label {
  margin-left: 10px;
}

.puzzles--main--right {
  flex: 1;
  overflow: scroll;
  padding: 20px;
}

.puzzles--main--right--puzzles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 1;
}

.puzzles--main--right--puzzles--puzzle {
  padding: 10px;
}
