.puzzle-item {
  width: 500px;
  height: 80px;
  display: flex;
  flex-direction: column;
  border: 1px solid #9B9B9B;
  border-radius: 3px;
  justify-content: space-between;
  padding: 10px;
  font-size: 15px;
}

.puzzle-item--top {
  display: flex;
  justify-content: space-between;
}

.puzzle-item--top--info {
  font-size: 15px;
  color: #4A4A4A;
  font-weight: 400;
}

.puzzle-item--top--favorite {
  cursor: pointer;
  font-weight: 100;
  font-size: 19px;
}

.puzzle-item--main {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.puzzle-item--main--title {
  align-self: center;
}

.puzzle-item--main--title a {
  color: #222;
  font-size: 20px;
  text-decoration: none;
}

.puzzle-item--main--rating {
  align-self: flex-end;
}

.rating {
  display: flex;
  user-select: none;
}

.rating--label {
  cursor: pointer;
}

.rating--stars {
  margin-left: 2px;
  cursor: pointer;
}

.rating--stars .star {
  width: 13px;
  height: 13px;
  background-image: url(/images/star.svg)
}
.rating--stars .star-half-o {
  width: 13px;
  height: 13px;
  background-image: url(/images/star-half-o.svg)
}

.rating--stars .star-o {
  width: 13px;
  height: 13px;
  background-image: url(/images/star-o.svg)
}

.rating {
}

.rating--label {
  font-size: 10px;
}

.rating--stars {
  display: flex;
}
