.admin {
  width: 99%;
  padding: 5px 5px 5px 5px;
}


.admin--create {
  border: 2px solid #333;
  padding: 15px 15px 15px 15px;
  display: flex;
  flex-direction: column;
}

.admin--create--title {
  font-size: 40px;
}

.admin--create--textbox {
  margin-top: 10px;
  font-family: Andale Mono;
  height: 200px;
}

.admin--create--go {
  margin-top: 10px;
  font-size: 25px;
}

.admin--create--preview {
  height: 40px;
  padding: 15px 15px 15px 15px;
}


