/* Game Styles */
.game--main--wrapper:focus .game--main {
  opacity: 1;
}

.game--main--wrapper:focus .game--main--cover {
  display: none;
  /* just to be safe */
  z-index: -3;
  font-size: 1px;
  opacity: 0;
}

.game--main {
  margin-top: 20px;
  display: flex;
  opacity: 0.5;
}

.game--main--cover {
  z-index: 3;
  opacity: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 10px 0px 10px;
  color: #444;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

.game--main--clue-bar {
  background-color: #DCEFFF;
  padding: 27px 20px 27px 20px;
  display: flex;
  font-size: 15px;
}

.game--main--clue-bar--number {
  font-weight: bold;
  display: inline-block;
}

.game--main--clue-bar--text {
  margin-left: 20px;
  display: inline-block;
}

.game--main--left--grid {
  margin-top: 10px;
  position: relative;
  border: 4px solid black;
  color: #444;
}

.game--main--left--grid.frozen {
  margin-top: 10px;
  position: relative;
  border: 4px solid black;
  color: black;
}

.grid {
  border-collapse: collapse;
}


.grid--cell {
  position: relative;
  padding: 0;
  margin: 0;
  border: 1px solid #aaaaaa;
  box-sizing: border-box;
}

.game--main--clues {
  display: flex;
  padding: 0px 20px 0px 20px;
}

.game--main--clues--list {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  padding-right: 10px;
}

.game--main--clues--list--title {
  font-weight: bold;
  font-size: 14px;
}

.game--main--clues--list--scroll {
  position: relative;
  height: 595px;
  overflow-y: scroll;
  border-top: 1px solid #e2e2e2;
  margin-top: 5px;
  padding-right: 10px;
}

.game--main--clues--list--scroll--clue {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  padding-bottom: 5px;
  border-left: 5px solid transparent;
  cursor: pointer;
}

.game--main--clues--list--scroll--clue.complete {
  color: #888;
}

.game--main--clues--list--scroll--clue.selected {
  background-color: #A7D8FF;
}

.game--main--clues--list--scroll--clue.half-selected {
  border-left: 5px solid #A7D8FF;
}


.game--main--clues--list--scroll--clue--number {
  margin-left: 5px;
  font-weight: 400;
  line-height: 19px;
  font-weight: bold;
}

.game--main--clues--list--scroll--clue--text {
  margin-left: 10px;
}

/* Cell Styling */

.cell {
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: background-color .12s ease;
}

.cell.black {
  background-color: black;
  color: black;
}

.frozen .cell.selected {
  background-color: #FFDA00;
}

.frozen .cell.highlighted {
  background-color: #1FFF3D;
}

.cell.selected {
  background-color: #FFDA00;
}

.cell.highlighted {
  background-color: #A7D8FF;
}

.cell--number {
  position: absolute;
  font-size: 150%;
  left: 4px;
  top: 4px;
}

.cell--tag {
  right: 0px;
  top: 1px;
  width: 10px;
  height: 10px;
  /*background-color: green;*/
}


.cell--value {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70%;
  text-align: center;
  vertical-align: middle;
  font-size: 350%;
}

